/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
    font-family: 'ApercuPro';
    src: url('./fonts/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Bold';
  src: url('./fonts/ApercuPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-BoldItalic';
  src: url('./fonts/ApercuPro-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Italic';
  src: url('./fonts/ApercuPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Medium';
  src: url('./fonts/ApercuPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-MediumItalic';
  src: url('./fonts/ApercuPro-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro-Light';
  src: url('./fonts/ApercuPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
